h5 {
  margin: 0 !important;
}
.modal-cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 90vw;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  z-index: 9999;
}
.title-cart {
  text-align: center;
}
.container-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15%;
  background-color: white;
  height: 100px;
  margin: 20px;
}
.container-cart img {
  height: 60px;
  width: auto;
  padding-left: 10px;
}
.price-cart {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
