* {
  box-sizing: border-box;
}
.home-page {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title-product {
  line-height: 1.4em;
}
.title-link {
  padding: 15px;
}
.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #f5f5f5;
  background: white;
  font-family: 'Open Sans';
  transition: 0.3s ease-in;
}
.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}
.container {
  width: 300px;
  height: 500px !important;
}
.product-item img {
  width: 100%;
  height: auto;
}
.product-list {
  background: #fafafa;
  padding: 15px 0;
}
.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  border: none;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: 0.3s ease-in;
}
.product-item:hover .button {
  background: #fc5a5a;
}
